services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - kafka
    environment:
      DATABASE_URL: postgresql://risk:risk@db:5432/riskdb
      KAFKA_TOPIC_TRANSACTIONS: transactions
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      TX_SOURCE: db
      ILLICIT_SEED: "123"
    volumes:
      - ./data:/app/data  



  db:
    image: postgres:16
    environment:
      POSTGRES_USER: risk
      POSTGRES_PASSWORD: risk
      POSTGRES_DB: riskdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # Two listeners: one for containers, one for your Windows host
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  consumer:
    build: .
    depends_on:
      - db
      - kafka
    environment:
      PYTHONUNBUFFERED: "1"
      DATABASE_URL: postgresql+psycopg2://risk:risk@db:5432/riskdb
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      KAFKA_TOPIC_TRANSACTIONS: transactions
      KAFKA_GROUP_ID: tx-consumer-v2
      CONSUMER_BATCH_SIZE: 500
      CONSUMER_POLL_MS: 1000
    command: ["python", "-m", "services.ingestion.kafka_consumer"]


volumes:
  pgdata:
